.StyledragArea{
    height: 100%;
    width: 100%;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    margin-top: 20px;
}
.file-upload-content{
    display:none;
    text-align: center;
  }
  .file-upload-input{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  .image-upload-wrap{
    position: relative;
    height: 100% !important;
    width: 100% !important;
    border: 4px solid #d0d7de;
    margin-left: 10px;
    margin-right: 10px;
    
  }
  .hidde{
    display:none !important;
  }

  .image-upload-wrap:hover{
    background-color: transparent;
    border: 4px dashed #d0d7de;
  }
  .text-information{
    margin-top: 30px;
    text-align: center;
  }
  .render_images{
    margin-top: 10px;
  }

  .button_finish{
    margin: 8px;
    width: 80px;
    padding: 8px;
    font-size: 14px;
    font-family: sans-serif;
    cursor: pointer;
    background-color: #20ea15;
}